{% extends 'blog/default.html' %}

{% block main %}

	<div id="content" class="tile">
				{% if messages %}
					{% for message in messages %}

						<div class="alert alert-{{ message.tags }}">{{ message }}</div>

						

					{% endfor %}
				{% endif %}
				{% block content %}{% endblock %}
			</div>

			
			<div id="newsBox" class="tile">
				<div id="news-title" class="title">NEWS</div>
				<div id="news-content" class="content">
					{% if news %}
						{% for item in news %}
							<div class="update-item">
								<div class="item-title">{{ item.title }}</div>
								<div class="update-date">{{ item.date }}</div>
								<div class="update-text">{{ item.content }}</div>
							</div>

							<br>
						{% endfor %}
					{% else %}
						<div class="update-item">
							<div class="item-title">No news!</div>
							<!-- <div class="update-date"></div> -->
							<div class="update-text">It seems there is nothing new to share at the moment! Check back for news later.</div>
						</div>
					{% endif %}

				</div>
			</div>

{% endblock %}