{% load static %}

<!DOCTYPE html>
<html>

	<link rel="icon" href="https://s3-us-west-1.amazonaws.com/co-directory-images/chris-bashford-a37611bb.jpg">
	<head>
		 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">


    	<link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
    	{% if title %}
			<title>{{ title }} | Quickmatch</title>
		{% else %}
			<title>Quickmatch</title>
		{% endif %}
	</head>
	<body>
		<div id="header">
			
			<a href="{% url 'blog-home' %}"><div id="logo"></div></a>
			<div id="site_name">QUICKMATCH</div>

			{% if user.is_superuser %}
				<a href="{% url 'update-news' %}"><div class="navbutton" id="news">NEW ARTICLE</div></a>

			{% endif %}

			<a href="{% url 'blog-home' %}"><div class="navbutton" id="home">HOME</div></a>
			<a href="{% url 'dashboard' %}"><div class="navbutton" id="dashboard">DASHBOARD</div></a>
			<a href="{% url 'my-tournaments' %}"><div class="navbutton" id="tournaments">TOURNAMENT</div></a>			
			<a href="{% url 'search' %}"><div class="navbutton" id="search">SEARCH</div></a>

			{% if user.is_authenticated %}
				<div id="dropdown">
					<div id="userButton">{{ user.username }}</div>
					<div id="user-content">
						<a href='{% url 'profile' %}'>Profile</a>
						<a>Settings</a>
						<!-- <a></a> -->
						{% if user.is_superuser %}
							<a href="{% url 'users' %}">Users</a>
							<a href="{% url 'news' %}">News</a>
							<a href="/admin">Admin Panel</a>
						{% endif %}
						<a href="{% url 'logout' %}">Logout</a>

					</div>
					<div id="arrow">▼</div>
				</div>

			<div id="profilePic"></div>
			{% else %}
				<a href="{% url 'login' %}"><div class="navbutton" id="login">Login</div></a>
				<a href="{% url 'register' %}"><div class="navbutton" id="register" href="/register">Register</div></a>
			{% endif %}
		</div>

		<div id="main">

			{% block main %}{% endblock %}
			


		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	</body>
</html>