{% extends "blog/base.html" %}
{% block content %}
	<div id="news-title" class="title">HOME</div>
	<!-- <big style="font-size: 2vw">Home</big> -->
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at ligula purus. Fusce at elit egestas, tincidunt eros a, malesuada augue. Cras dui magna, rhoncus in vehicula nec, ornare sed quam. Pellentesque augue sem, varius ut leo vitae, accumsan convallis sem. Morbi elementum sollicitudin lobortis. Maecenas ut diam tincidunt, bibendum dolor at, ullamcorper dolor. In finibus porttitor risus nec commodo. Ut auctor dolor id dapibus venenatis. Phasellus dui turpis, suscipit porta eleifend nec, ornare a odio. Quisque in vehicula erat, vitae finibus magna. Nullam pharetra leo vitae tortor ullamcorper, a eleifend magna pellentesque. Fusce ut sem sed sem accumsan blandit eu accumsan nibh. Vestibulum porttitor massa sed mi consequat, ac pretium lectus aliquet. </p>
	<br>
	<p>
Nunc id erat a erat placerat luctus. Nulla nibh mauris, rhoncus quis tempus commodo, hendrerit at quam. Quisque sed cursus sapien. Vivamus porttitor scelerisque posuere. Maecenas eu pharetra metus, non finibus ante. Proin vestibulum non lectus eget ullamcorper. Suspendisse eu elit sit amet arcu mattis tincidunt. Vestibulum sit amet tempor magna. Nullam fringilla vehicula quam vel venenatis. Proin eu rutrum dui. Phasellus commodo sem vehicula lectus pulvinar, vel ullamcorper nunc mattis.
	</p>
	<br>
	<p>
Pellentesque enim enim, finibus et mauris et, accumsan lacinia sapien. Aenean ac posuere tortor, vitae efficitur lacus. Sed tellus massa, efficitur volutpat eros non, fermentum pharetra tellus. Duis vel tortor ac nunc laoreet varius. Vivamus sed dolor non elit dapibus tincidunt. Sed laoreet nulla vel posuere venenatis. Curabitur gravida interdum velit, sit amet malesuada libero egestas in. Cras nibh ante, maximus a scelerisque non, ornare vel velit.</p>
{% endblock content %}