:root {
    /*--main-color: #707172;*/
    --main-color: #962E40;
    /*--secondary-color: #9153a0;*/
    --secondary-color: #962E40;
    --tertiary-color: #5E1742;
    --background-back: #240028;

}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-back);
    background-image: linear-gradient(335deg, var(--tertiary-color) 23px, transparent 23px),
    linear-gradient(155deg, var(--main-color) 23px, transparent 23px),
    linear-gradient(335deg, var(--tertiary-color) 23px, transparent 23px),
    linear-gradient(155deg, var(--main-color) 23px, transparent 23px);
    background-size: 58px 58px;
    background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
    font-family:      'Raleway', sans-serif;

}

#header{
    width: 100vw;
    height: 10vh;
    /*margin-left: -0.7vw;*/
    /*margin-top: -1.5vh;*/
    /*margin-left: auto;*/
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
    color: white;
    box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.6);
}

#logo {
    position: fixed;
    margin-top: 1vh;
    margin-left: 2vw;
    width: 4vw;
    height: 8vh;
    background-color: white;
    background-image: url("https://s3-us-west-1.amazonaws.com/co-directory-images/chris-bashford-a37611bb.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    outline-width: 2px;
    outline-color: white;
    outline-style: groove;
}

.navbutton {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
    width: 10vw;
    height: 10vh;
    font-size: 1.5vw;
    text-align: center;
    line-height: 10vh;
    position: fixed;
    /*margin-top: 4vh;*/



}

.navbutton:hover {
    -webkit-animation: buttonHover 0.1s ease-in-out; /* Safari 4+ */
    background-color: rgba(60, 60, 60, 0.6);

}

#dashboard {
    margin-left: 50vw;
}

#tournaments {
    margin-left: 60vw;
}

#search {
    margin-left: 70vw;
}

@-webkit-keyframes buttonHover {
    0%   { 	background-color: rgba(0, 0, 0, 0);
    }
    /*25%   { height: 8vh;	line-height: 10vh; }*/
    /*50%   { height: 9vh;	line-height: 12vh; }*/
    /*75%   { height: 10vh;	line-height: 14vh; }*/
    100%   { 
        background-color: rgba(60, 60, 60, 0.6);

    }


}

#profilePic {
    position: fixed;
    margin-top: -7.5vh;
    margin-left: 93vw;
    border-radius: 2vw;
    width: 4vw;
    height: 8vh;
    background-color: white;
    background-image: url("https://s3-us-west-1.amazonaws.com/co-directory-images/chris-bashford-a37611bb.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*outline-width: 2px;
    outline-color: white;
    outline-style: groove;}*/

}

#userButton {
    background-color: var(--main-color);
    color: white;
    width: 8vw;
    height: 7vh;
    /*padding: 16px;*/
    font-size: 1.2vw;
    border: none;
    text-align: center;
    line-height: 7vh;
    border-radius: 5px;
}

#dropdown {
    position: relative;
    display: inline-block;
    margin-left: 83vw;
    margin-top: 1.2vh;
}

#user-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}

#user-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#user-content a:hover {background-color: var(--secondary-color); color: white;}

/* Show the dropdown menu on hover */
#dropdown:hover #user-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
#dropdown:hover #userButton {background-color: var(--secondary-color);}



#tournamentUpdates {

    width: 40vw;
    height: 70vh;
    margin-left: 6vw;
    margin-top: 8vh;
    padding: 0;
    overflow: auto;

}


#tournament-content {

    margin-top: -5%;

}

#update-title {
    text-align: center;
    /*font-size: 1.5vw;*/
    color: white;
    /*margin-top: 3%*/
}

#newsBox {

    width: 20vw;
    height: 70vh;

    margin-left: 50vw;
    margin-top: 8vh;

}


#news-content {


    margin-top: 13%;


}

.tile {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
}

.title {
    text-align: center;
    font-size: 1.2vw;
    color: white;
    font-weight: bold;
    margin-top: 5%
    width: 100%;
    height: 10%;
    line-height: 6vh;
    background-color: rgba(0, 0, 0 ,0.9);
}

#messageBox {
    width: 20vw;
    height: 70vh;

    margin-left: 74vw;
    margin-top: 8vh;
}

/*.content {
width: 90%;
height: 80%;
outline-width: 0.2vw;
outline-color: white;
outline-style: solid;
position: relative;
margin: auto;
}*/

    #message-content {
        margin-top: 13%;
    }

    .update-item {
        padding-top: 2%;
        margin-left: auto;
        /*margin-right: 2%;*/
        width: 100%;
        height: 16%;
        padding-bottom: 2%;
        /*outline-width: 1px;*/
        /*outline-style: solid;*/
        /*outline-color: white;*/
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        height: auto;
        min-height: 16% !important;
        max-width: 100%;
        /*position: fixed;*/
        overflow: hidden;

    }

    .item-title {
        margin-left: 5%;
        font-size: 2vw;
        /*margin-top: 2%;*/
    }

    .update-text {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 2%;
        font-size: 1.3vw;
        text-align:justify;

    }

    .update-date {
        margin-left: 5%;
        font-size: 1vw;
    }

    ::-webkit-scrollbar {
        width: 1%;
        display: none;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888; 
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }

