{% extends "blog/base-empty.html" %}

{% block content %}
<div id="tournamentUpdates" class="tile">
				<div id="update-title" class="title" style="margin-bottom: 2%;">TOURNAMENTS</div>

					{% for t in Tournaments %}
					<div class="update-item">
						<a href="{% url 'tournament-detail' t.title%}"><div class="item-title">{{ t.title }}</div></a>
						<div class="update-date">{{ t.date_created }}</div>
						<div class="update-text">{{ t.description }}</div>
					</div>

					<br>

					{% endfor %}

				<div id="tournament-content" class="content">
					
				</div>
			</div>

			<div id="newsBox" class="tile">
				<div id="news-title" class="title">NEWS</div>
				<div id="news-content" class="content">
					{% if news %}
						{% for post in news %}
							<div class="update-item">
								<div class="item-title">{{ post.title }}</div>
								<div class="update-date">{{ post.date }}</div>
								<div class="update-text">{{ post.content }}</div>
							</div>

							<br>
						{% endfor %}
					{% endif %}

				</div>
			</div>

			<div id="messageBox" class="tile">
				<div id="message-title" class="title">NOTIFICATIONS</div>
				<div id="message-content" class="content">
				{% for n in notifications %}
						<div class="update-item">
							<div class="update-date">{{ n.date }}</div>
							<div class="update-text">{{ n.content }}</div>
						</div>

						<br>
				{% endfor %}
				</div>

			</div>
{% endblock content %}