{% load static %}
{% load crispy_forms_tags %}

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/login.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Raleway:200" rel="stylesheet">    
    <title>Login | Quickmatch</title>

  </head>

  <body>


    <div id="formBox">
      <!-- <div id="background" class="blur"></div> -->
      <div id="advert">

        <div id="logo"></div>
        
        <h1 style="font-size: 2vw">Welcome to Quickmatch!</h1>

        <p style="font-size: 1vw">The free online tournament management tool.</p>

      </div>


      <div id="login">
        <div id="content">
          <!-- <form>
              <h2>Username</h2>
              <input class="inpField" type="text" placeholder="Username..."></input>

              <h2>Password</h2>
              <input class="inpField" type="password" placeholder="Password..."></input>

              <input type="button">Forgot password...</input>

              <input id = "submitButton" type="submit"></input>

          </form> -->
          <h2>Login</h2>
			<form method="post">
			  {% csrf_token %}
			  {{ form|crispy }}
			  <button type="submit">Login</button>
			</form>

			<small class="text-muted">
				Need an account? <a style="color: white; border-bottom-width: 1px" href="{% url 'register' %}">Sign up now.</a>
			</small>
        </div>
      </div>
    </div>

  </body>

</html>