{% extends 'blog/base-open.html' %}

{% block content %}

	<div id="left-side">

		<div class="title" style="margin-bottom: 1%">My Tournaments</div>

		<form method="POST">
			{% csrf_token %}
			{% for t in tournaments %}

				<div class="update-item">
					<a href="{% url 'tournament-detail' t.title %}"><div class="item-title">{{ t.title }}</div></a>
					<div class="update-date">{{ t.date_created }}</div>
					<div class="update-text">{{ t.description }}</div>
					<button name="{{ t.title }}"  class="delete-button" type="submit">DELETE</button>
				</div>

				<br>

			{% endfor %}

		</form>

	</div>

	<div id="right-side">

		<a href="{% url 'create' %}"><div id="create_button">Create New!</div></a>
		
	</div>

{% endblock content %}