{% extends 'blog/base-open.html' %}

{% block content %}

	<!-- <div id="newsBox" class="tile"> -->
	<div id="news-title" class="title">NEWS</div>
	<form method="POST">
		{% csrf_token %}
		<div id="news-content" class="content">
			{% if news %}
				{% for item in news %}
					<div class="update-item">
						<div class="item-title">{{ item.title }}</div>
						<div class="update-date">{{ item.date }}</div>
						<div class="update-text">{{ item.content }}</div>
						<button name="{{ item.title }}" type="submit" style="position: relative" class="delete-button">DELETE ARTICLE</button>
					</div>

					<br>
				{% endfor %}
			{% else %}
				<div class="update-item">
					<div class="item-title">No news!</div>
					<!-- <div class="update-date"></div> -->
					<div class="update-text">It seems there is nothing new to share at the moment! Check back for news later.</div>
				</div>
			{% endif %}

		</div>
	</form>
			<!-- </div> -->

{% endblock content %}