{% extends "blog/base-open.html" %}
{% load crispy_forms_tags %}

{% block content %}
	<div style="text-align: center">
		<h1>{{ user.username }}</h1>

		<div id="profilePicSquare"></div>
		
		<p>Email Address Registered: {{ user.email }}</p>
	</div>
{% endblock content %}
