{% extends 'blog/base-open.html' %}


{% block content %}
	{% for t in Tournaments %}

		<div class="update-item">
			<a href="{% url 'tournament-detail' t.title %}"><div class="item-title">{{ t.title }}</div></a>
			<div class="update-date">{{ t.date_created }}</div>
			<div class="update-text">{{ t.description }}</div>
			<!-- <button class="join-button">Join</button> -->
		</div>

		<br>

	{% endfor %}
{% endblock content %}