{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
	<div class="content-section">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group" style="color: white; margin-top: 2%">
				<legend class="border-bottom mb-4">Create a Tournament</legend>
				{{ form|crispy }}
			</fieldset>

			<div class="form-group">
				<button class="btn btn-outline-info" type="submit">Create!</button>
			</div>


		</form>
		<!-- <div class="border-top pt-3">
			<small class="text-muted">Already have an account? <a  class="ml-2" href="{% url 'login' %}">Sign in.</a></small>
		</div> -->
	</div>
{% endblock content %}