{% extends 'blog/base-open.html' %}


{% block content %}

	<div class="update-item">
		<div class="item-title">{{ object.title }}</div>
		<div class="update-date">{{ object.date_created }}</div>
		<div class="update-date">{{ number }} / {{ object.participant_number }}</div>
		<div class="update-date">Host: {{ object.host }}</div>
		<div class="update-text">{{ object.description }}</div>
		
			<form method="POST">
				{% csrf_token %}
	
						<button class="btn btn-outline-info" type="submit" name="join" id="join-button">JOIN</button>

				<button class="btn btn-outline-info" type="submit" name="leave" id="leave-button">LEAVE</button>
				{% if object.host == user %}
					<button type="button" class="btn btn-outline-info">INVITE</button>
				{% endif %}

				<!-- <div id="invite-box" style="position:fixed; margin-left: 30vw; margin-top: -10vh; width: 10vw; height: 5vh; background-color: white">
					<input type="text" id="invite-field" style="width:100%; height:100%; text-align: center" placeholder="Username..."/>
				</div> -->
			</form>

		<div class="update-date">PARTICIPANTS</div>
		<ul>
		{% for person in rounds %}

			<div class="round-{{ person.round_no }}">{{ person.player.username }}</div>

		{% endfor %}
		</ul>
	</div>

{% endblock content %}
