{% extends "blog/base.html" %}

{% block content %}

	<h2>Staff</h2>
	<ul>
	 	{% for member in staff %}
	 		<li> {{ member.username }}	-	{{ member.email }} </li>
	 	{% endfor %}
	</ul>

	<hr>
	<h2>Users</h2>
	<form method="POST">
		{% csrf_token %}
		<ul>
			{% for member in users %}
		 		<li> {{ member.username }} </li>
		 		<button name="{{ member.username }}" type="submit" style="position: relative; margin-left: -0.1%" class="delete-button">REMOVE</button>
		 	{% endfor %}
		</ul>
	</form>



{% endblock content %}