{% load static %}

<!DOCTYPE html>
<html>
	<head>
		 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">


    	<link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
    	{% if title %}
			<title>Quickmatch | {{ title }}</title>
		{% else %}
			<title>Quickmatch</title>
		{% endif %}
	</head>
	<body>
		<div id="header">
			
			<div id="logo"></div>

			<div class="navbutton" id="dashboard">Dashboard</div>
			<div class="navbutton" id="tournaments">Tournaments</div>
			<div class="navbutton" id="search">Search</div>

			<div class="navbutton" id="login">Login</div>
			<div class="navbutton" id="register">Register</div>
		</div>

		<div id="main">
			
			<div id="content" class="tile">
				{% block content %}{% endblock %}
			</div>

			
			<div id="newsBox" class="tile">
				<div id="news-title" class="title">NEWS</div>
				<div id="news-content" class="content">
					<!-- <div class="update-item">
						<div class="item-title">ESL Counter Strike</div>
						<div class="update-date">08 / 02 / 19</div>
						<div class="update-text">This tournament has been postponed until the 18th March due to problems with the investors.</div>
					</div>

					<br> -->


				</div>
			</div>


		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	</body>
</html>