body{
  font-family:      'Raleway', sans-serif;
  background-image: url("https://s.aolcdn.com/hss/storage/midas/f10fcd5c0630ecb553f69ead07e7c318/206538633/esports-ed.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blur {
  background: url("https://s.aolcdn.com/hss/storage/midas/f10fcd5c0630ecb553f69ead07e7c318/206538633/esports-ed.jpg" no-repeat center center fixed);
  background-size: cover;
  overflow: hidden;
  filter: blur(13px);
  position: absolute;
  height: 60vh;
}

#formBox {

  /*color:            white;*/
  width:            50vw;
  height:           60vh;
  border-width:     10px;
  border-radius:    5px;
  margin-left:      auto;
  margin-right:     auto;
  margin-top:       8%;

  background: rgb(0, 0, 0); /* for IE */
  background: rgba(0, 0, 0, 0.75);

  /*backdrop-filter: blur(50px);*/
  /*box-shadow: 5px 10px 10px #555555;*/

}


#login {
  
  font-size: 1vw;
  color: white;
  width:            30%;
  height:           75%;
  float:            right;
  /*background-color: #68696b;*/
  margin-right:     3%;
  margin-left:      auto;
  text-align:       center;
  margin-top:       7%;
  border-radius:    5px;
  position:relative;
  display: inline-block;
  outline-style: groove;
  outline-width: 2px;
  outline-color: white;

}

#logo {
  /*text-align: center;*/
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  background-color: white;
  height: 30%;
  width: 50%;

  outline-style: solid;
  outline-width: 3px;
  outline-color: white;

  background-image: url("https://s3-us-west-1.amazonaws.com/co-directory-images/chris-bashford-a37611bb.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#advert {
  position:absolute;
  float: left;
  display: inline-block;
  text-align: center;
  width: 32%;
  height: 90%;
  color: white;
  margin-left: 10px;
}


.inpField {
  color: white;
  text-decoration: none;
  background-color: rgba(0,0,0, 0);
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom-width: 1px;
  border-color: gray;
  font-size: 1vw;
}

.inpField:focus {
    outline-width: 0;
}


body {

  background-color: #68696b;

}

#submitButton {
  background-color: #ea8100; /* Green */
  border:           none;
  color:            white;
  /*padding:          15px 32px;*/
  margin-top:       20px;
  text-align:       center;
  font-size: 1.5vw;
  text-decoration:  none;
  /*display:          inline-block;*/
  /*font-size:        16px;*/
  width: 10vw;
  height: 4vw;
}

#submitButton:hover {
  color: #ea8100;
  background-color: white;
}

#submitButton:active {
  outline-width: 0px;
  -moz-box-shadow:    inset 0 0 5px #000000;
  -webkit-box-shadow: inset 0 0 5px #000000;
  box-shadow:         inset 0 0 5px #000000;
}
