:root {
	/*--main-color: #707172;*/
	--main-color: #962E40;
	/*--secondary-color: #9153a0;*/
	--secondary-color: #962E40;
	--tertiary-color: #5E1742;
	--background-back: #240028;

}

body {
	margin: 0;
	padding: 0;
background-color: var(--background-back);
background-image: linear-gradient(335deg, var(--tertiary-color) 23px, transparent 23px),
linear-gradient(155deg, var(--main-color) 23px, transparent 23px),
linear-gradient(335deg, var(--tertiary-color) 23px, transparent 23px),
linear-gradient(155deg, var(--main-color) 23px, transparent 23px);
background-size: 58px 58px;
background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
	font-family:      'Raleway', sans-serif;

}

#header{
	width: 100vw;
	height: 10vh;
	/*margin-left: -0.7vw;*/
	/*margin-top: -1.5vh;*/
	/*margin-left: auto;*/
	margin-right: auto;
	margin-left: auto;
	background-color: rgba(0, 0, 0, 0.6);
	position: relative;
	color: white;
	box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.6);
}

#profilePicSquare {
	position: relative;
	width: 10vw;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3%;
	margin-bottom: 3%;
	border-radius: 5px;
}

#profilePicSquare:after {
	display: block;
	content: "";
	padding-bottom: 100%;
}


#logo {
	position: fixed;
	margin-top: 1vh;
	margin-left: 2vw;
	width: 4vw;
	height: 8vh;
	background-color: white;
	background-image: url("https://s3-us-west-1.amazonaws.com/co-directory-images/chris-bashford-a37611bb.jpg");
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	outline-width: 2px;
  	outline-color: white;
  	outline-style: groove;
}

.navbutton {

	/*-webkit-animation: buttonHoverOut 0.1s ease-in-out; /* Safari 4+ */*/
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0);
	width: 10vw;
	height: 10vh;
	font-size: 1vw;
	text-align: center;
	line-height: 10vh;
	position: fixed;
	color: white;
	border-width: 0;
	/*margin-top: 4vh;*/



}

#main-box {
	width: 80vw;
	height: 70vh;
	/*min-height: 70vh !important;*/
	/*max-height: 80vh;*/
	margin-left: 10vw;
	margin-top: 8vh;
	background-color: rgba(0, 0, 0, 0.6);
	padding-left: 3%;
	padding-right: 3%;
	color: white;
	font-size: vw;
	overflow: auto;
	/*border-top: 4%;*/
	padding-top: 1%;
	text-align:justify;
}

/*#main-content {
	width: 100vw;
	height: 100vh;
}
*/
.navbutton:hover {
	-webkit-animation: buttonHover 0.3s ease-in-out; /* Safari 4+ */
  	/*background-color: rgba(60, 60, 60, 0.6);*/
  	font-size: 1.2vw;

}


#left-side {
	width: 35vw;
	/*margin-left: 5vw;*/
	height: 65vh;
	/*position: fixed;*/
	/*background-color: white;*/
	position: fixed;
	overflow: auto;
}

#right-side {
	width: 35vw;
	margin-left: 39vw;
	height: 65vh;
	/*position: fixed;*/
	/*background-color: white;*/
	position: fixed;
}

.round-1 {

	font-size: 2vw;
	border-width: 2%;
	width: 20vw;
	line-height: 6vh;
	text-align: center;
	height: 6vh;
	margin-top: 3%;
	outline-style: solid;
	outline-color: white;
	outline-width: 2px;
	overflow-x: hidden;

}

.management-button {
	background-color: transparent;
	outline-width: 1px;
	border: 0;
	color: white;
	outline-style: solid;
	outline-color: white;
	/*width: 5%*/

}

.delete-button {
	margin-left: 5%;
}

#create_button {
	width: 100%;
	height: 100%;
	line-height: 60vh;
	text-align: center;
	font-size: 2vw;
	outline-width: 2px;
	outline-style: solid;
	outline-color: white;
	background-color: white;
	text-decoration: none;
	color: orange;
}

#create_button:hover {
	text-decoration: none;
}

#join-button {
	margin-left: 5%;
	margin-top: 2%;
	margin-bottom: 2%;
}

#leave-button {
	margin-left: 1%;
}

#news {
	margin-left: 30vw;
}

#home {
	margin-left: 40vw;
}

#dashboard {
	margin-left: 50vw;
}

#tournaments {
	margin-left: 60vw;
}

#search {
	margin-left: 70vw;
}

@-webkit-keyframes buttonHover {
  0%   { 	
  	/*background-color: rgba(0, 0, 0, 0);*/
   font-size: 1vw;
	 }
  /*25%   { height: 8vh;	line-height: 10vh; }*/
  /*50%   { height: 9vh;	line-height: 12vh; }*/
  /*75%   { height: 10vh;	line-height: 14vh; }*/
  100%   { 
  			/*background-color: rgba(60, 60, 60, 0.6); */
  			font-size: 1.2vw;
	
  }
}

@-webkit-keyframes buttonHoverOut {
  0%   { 	
  	/*background-color: rgba(0, 0, 0, 0); */
  	font-size: 1.2vw;
	 }
  /*25%   { height: 8vh;	line-height: 10vh; }*/
  /*50%   { height: 9vh;	line-height: 12vh; }*/
  /*75%   { height: 10vh;	line-height: 14vh; }*/
  100%   { 
  	/*background-color: rgba(60, 60, 60, 0.6); */
  	font-size: 1vw;
	
  }
}


#profilePic {
	position: fixed;
	margin-top: -7.5vh;
	margin-left: 95vw;
	border-radius: 2vw;
	width: 4vw;
	height: 8vh;
	background-color: white;
	background-image: url("https://s3-us-west-1.amazonaws.com/co-directory-images/chris-bashford-a37611bb.jpg");
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	/*outline-width: 2px;
  	outline-color: white;
  	outline-style: groove;}*/

}

#arrow {
	position: fixed;
	text-align: center;
	font-size: 1.5vw;
	line-height: 10vh;
	margin-top: -8.2vh;
	margin-left: 8.2vw;
	color: white;
	/*background-color: black;*/
	-webkit-animation: rotateArrowBack 0.2s ease-in-out; /* Safari 4+ */
	-webkit-transform: rotate(0deg);

}

#dropdown:hover #arrow {
	-webkit-animation: rotateArrow 0.2s ease-in-out; /* Safari 4+ */
	-webkit-transform: rotate(180deg);
}

@-webkit-keyframes rotateArrow {
  0%   { -webkit-transform: rotate(0deg); }
  100%   { -webkit-transform: rotate(180deg); }

}

@-webkit-keyframes rotateArrowBack {
  0%   { -webkit-transform: rotate(180deg); }
  100%   { -webkit-transform: rotate(360deg); }

}


#userButton {
  background-color: var(--main-color);
  color: white;
  width: 8vw;
  height: 7vh;
  /*padding: 16px;*/
  font-size: 1.2vw;
  border: none;
  text-align: center;
  line-height: 7vh;
  border-radius: 5px;
  /*overflow-x: hidden;*/

}


#dropdown {
  position: relative;
  display: inline-block;
  margin-left: 83vw;
  margin-top: 1.2vh;
  /*overflow-x: hidden;*/
}

#user-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
}

#user-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#user-content a:hover {background-color: var(--secondary-color); color: white;}

/* Show the dropdown menu on hover */
#dropdown:hover #user-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
#dropdown:hover #userButton {background-color: var(--secondary-color);}



#update-title {
	text-align: center;
	/*font-size: 1.5vw;*/
	color: white;
	/*margin-top: 3%*/
}

#login {
	font-size: 1vw;
	margin-left: 80vw;
	position: fixed;
	line-height: 10vh;
}

#login:hover {
	font-size: 1.2vw;
}

#register {
	font-size: 1vw;
	margin-left: 90vw;
	position: fixed;
	line-height: 10vh;
}

#register:hover {
	font-size: 1.2vw;
}

#site_name {
	position: fixed;
	line-height: 10vh;
	font-size: 2vw;
	margin-left: 8vw;
}

#content {
	width: 50vw;
	height: 70vh;
	/*min-height: 70vh !important;*/
	/*max-height: 80vh;*/
	margin-left: 5vw;
	margin-top: 8vh;
	background-color: rgba(0, 0, 0, 0.6);
	padding-left: 3%;
	padding-right: 3%;
	color: white;
	font-size: vw;
	overflow: auto;
	/*border-top: 4%;*/
	padding-top: 1%;
	text-align:justify;
}

input {
	background-color: rgba(0, 0, 0, 0.4);
	color: white;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom-width: 1px;
}

input:focus {
	outline-width: 0;
	-webkit-animation: inputSelect 0.1s ease-in-out; /* Safari 4+ */
	border-bottom-width: 2px;
}

@-webkit-keyframes inputSelect {
  0%   { border-bottom-width: 1px; }
  100%   { border-bottom-width: 2px; }

}

.delete-button {
	font-size: 1vw;
	margin-top: 1vh;
	border-color: red;
	border-style: solid;
	border-width: 1px;

	outline: none;
	color: red;
	background-color: transparent;
	border-radius: 2px;
}

.delete-button:hover {
	-webkit-animation: deleteHover 0.1s ease-in-out; /* Safari 4+ */
	background-color: red;
	color: white;
}

@-webkit-keyframes deleteHover {
  0%   { background-color: transparent; color: red; }
  100%   { background-color: red; color: white; }

}


#newsBox {

	width: 30vw;
	height: 70vh;

	margin-left: 65vw;
	margin-top: 8vh;

	overflow: auto;

}


#news-content {

	
	/*margin-top: 13%;*/
	

}

.tile {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.6);
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
	border-radius: 5px;
}

.title {
	text-align: center;
	font-size: 1.2vw;
	color: white;
	font-weight: bold;
	margin-top: 5%
	width: 100%;
	height: 10%;
	line-height: 6vh;
	background-color: rgba(0, 0, 0 ,0.9);
}

/*.content {
	width: 90%;
	height: 80%;
	outline-width: 0.2vw;
	outline-color: white;
	outline-style: solid;
	position: relative;
	margin: auto;
}*/

.update-item {
	padding-top: 2%;
	margin-left: auto;
	/*margin-right: 2%;*/
	width: 100%;
	height: 16%;
	padding-bottom: 2%;
	/*outline-width: 1px;*/
	/*outline-style: solid;*/
	/*outline-color: white;*/
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	height: auto;
	min-height: 16% !important;
	max-width: 100%;
	/*position: fixed;*/
	overflow: hidden;

}

.join-button {
	float: right;
	margin-right: 5vw;
}

.item-title {
	margin-left: 5%;
	font-size: 2vw;
	/*margin-top: 2%;*/
	text-decoration: none;
	color: white;
}

.update-text {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 2%;
	font-size: 1.3vw;
	text-align:justify;

}

.update-date {
	margin-left: 5%;
	font-size: 1vw;
}

::-webkit-scrollbar {
  width: 1%;
  display: /*none*/;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.participant-tile {
	
}

